body {
  font-family: sans-serif;
  text-align: center;
  padding: 20px;
  background-color: #f8f8f8;
}

.cover {
  width: 600px !important;
  height: 600px !important;
  margin: 20px auto !important;
  display: block !important;
  max-width: 90% !important;
}

#player, .plyr {
  max-width: 280px !important;
  width: 100% !important;
  margin: 20px auto !important;
  display: block !important;
}

@media (max-width: 680px) {
  .cover {
    width: 90% !important;
  }

  #player, .plyr {
    max-width: 90% !important;
  }
}
